<div id="milieu" class="conteiner-fluid">
    <div  class="row-fluid">
        <div id="bloc" class="col-md-offset-2 col-md-3" >
            <div id="entreprise">
                <img class="icone_entreprise" src="images/icone_entreprise.png" alt="icone_entreprise">
                <p class="text">
                    Entreprise
                </p>
                <form name="businessForm">
                    <div>
                        <input type="email" ng-model="username" class="email" placeholder="Pseudo" required>
                    </div>
                    <div >
                        <input type="password" ng-model="password" class="mdp" placeholder="Mot de passe" required>
                    </div>
                    <button class="btn btn-default" ng-click="userLogin('business')" ng-disabled="businessForm.$invalid || businessForm.$pristine">Connexion</button>
                </form>
            </div>
        </div>
        <div id="logo" class="col-md-2">
        </div>
        <div id="bloc" class="col-md-3">
            <div id="candidat">
                <img class="icone_cv" src="images/icone_cv.png" alt="icone_cv">
                <p class="text">
                    Candidat
                </p>
                <form name="particularForm">
                    <div>
                        <input type="email" ng-model="username"  class="email" placeholder="Pseudo" required>
                    </div>
                    <div >
                        <input type="password" ng-model="password"  class="mdp" placeholder="Mot de passe" required>
                    </div>
                    <button class="btn btn-default" ng-click="userLogin('private_person')" ng-disabled="particularForm.$invalid">Connexion</button>
                </form>
            </div>
        </div>
    </div>
</div>
<nav id="footer">
    <ul>
        <li>
            <a href="">Contact</a>
        </li>
        <li>
            <a href="">A propos</a>
        </li>
    </ul>
</nav>
<!--
<div class="row vertical-align" id="login-container">
    <div class="col-sm-6 container" ng-show="!side">
        <button class="btn btn-lg btn-default center" ng-click="setSide('business')">Entreprise</button>
    </div>

    <div class="col-sm-6 container" ng-show="!side">
        <button class="btn btn-lg btn-default center" ng-click="setSide('private_person')">Particulier</button>
    </div>

    <div class="col-sm-8 container" ng-show="side">
        <div class="well center">
            <form name="loginForm" class="form-signin">
                <h2 class="form-signin-heading">Connexion</h2>
                <label for="username" class="sr-only">Nom d'utilisateur</label>
                <input type="text" ng-model="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
                <label for="password" class="sr-only">Mot de passe</label>
                <input type="password" ng-model="password" id="password" class="form-control" placeholder="Mot de passe" required>
                <button class="btn btn-lg btn-primary btn-block" ng-click="userLogin()" ng-disabled="loginForm.$invalid">Se connecter</button>
            </form>
        </div>
    </div>
</div>

-->
