<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="particular.profile" ng-click="goToOwnProfile()">EasyJob</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: selectedView === 'profile'}"><a ui-sref="particular.profile" ng-click="goToOwnProfile()"><i class="glyphicon glyphicon-user"></i> Mon profile</a></li>
                <li ng-class="{active: selectedView === 'applications'}"><a ui-sref="particular.applications" ng-click="setView('applications')"><i class="glyphicon glyphicon-stats"></i> Suivi des candidatures</a></li>
                <li ng-class="{active: selectedView === 'search'}"><a ui-sref="particular.search" ng-click="setView('search')"><i class="glyphicon glyphicon-search"></i> Recherche</a></li>
                <li><a ui-sref="login"><i class="glyphicon glyphicon-log-out"></i> Se déconnecter</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="particularView" ui-view></div>