<body>
    <nav id="headerParticular" class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="logo" ui-sref="particular.profile" ng-click="goToOwnProfile()">EasyJob</a>
                </li>
                <li ng-class="{active: selectedView === 'profile'}">
                    <a ui-sref="particular.profile" ng-click="goToOwnProfile()"><i class="glyphicon glyphicon-user"></i>Mon profile</a>
                </li>
                <li ng-class="{active: selectedView === 'search'}">
                    <a ui-sref="particular.search" ng-click="setView('search')"><i class="glyphicon glyphicon-search"></i>Recherche</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i>Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="particularView" ui-view>

    </div>
</body>