<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="particular.profile" ng-click="setView('profile')">Espace personnel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: selectedView === 'profile'}"><a ui-sref="particular.profile" ng-click="setView('profile')">Mon profile</a></li>
                <li ng-class="{active: selectedView === 'applications'}"><a ui-sref="particular.applications" ng-click="setView('applications')">Suivi des candidatures</a></li>
                <li ng-class="{active: selectedView === 'search'}"><a ui-sref="particular.search" ng-click="setView('search')">Recherche</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="particularView" ui-view></div>