<!-- Search  -->
    <div id="particularSearch">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Métier, mot-clé ou entreprise" ng-model="criteria.keyWord">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Lieu" ng-model="criteria.place">
            </div>
            <div id="type" class="form-group">
                <li class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Type de contrat<span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <input type="checkbox" ng-model="criteria.offerType.CDI"/>
                            <label>CDI</label>
                        </li>
                        <li>
                            <input type="checkbox" ng-model="criteria.offerType.CDD"/>
                            <label>CDD</label>
                        </li>
                        <li>
                            <input type="checkbox" ng-model="criteria.offerType.stage" />
                            <label>Stage</label>
                        </li>
                    </ul>
                </li>
            </div>
            <button ng-click="search()" class="btn btn-default">RECHERCHER</button>
        </form>
        </div>




    <!-- Results -->
        <!--<table ng-if="result" class="col-md-12">
            <thead>
                <tr class="col-md-8 col-md-offset-2">
                    <th class="col-md-4">Entreprise</th>
                    <th class="col-md-4">Poste</th>
                    <th class="col-md-4">Salaire</th>
                </tr>
            </thead>
            <tbody>
                <tr class="col-md-8 col-md-offset-2" ng-repeat="offer in result">
                    <td>{{offer.company}}</td>
                    <td>{{offer.title}}</td>
                    <td>{{offer.salary}} €</td>
                </tr>
            </tbody>
        </table>-->