<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
</head>

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Inscription</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fn">Nom</label>  
            <div class="col-md-4">
                <input id="fn" name="fn" type="text" placeholder="Nom" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ln">Prenom</label>  
            <div class="col-md-4">
                <input id="ln" name="ln" type="text" placeholder="Prénom" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>  
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Confirmation email</label>  
            <div class="col-md-4">
                <input id="cemail" name="cemail" type="text" placeholder="cemail" class="form-control input-md" required="">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Mot de passe</label>  
            <div class="col-md-4">
                <input id="password" name="password" type="text" placeholder="password" class="form-control input-md" required="">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Confirmation email</label>  
            <div class="col-md-4">
                <input id="cpassword" name="cpassword" type="text" placeholder="cpassword" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="add1">Addresse</label>  
            <div class="col-md-4">
                <input id="add1" name="add1" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="add2">Complément d'adresse</label>  
            <div class="col-md-4">
                <input id="add2" name="add2" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ville</label>  
            <div class="col-md-4">
                <input id="city" name="city" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="zip">Code Postal</label>  
            <div class="col-md-4">
                <input id="zip" name="zip" type="text" placeholder="Code Postal" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ctry">Pays</label>  
            <div class="col-md-4">
                <input id="ctry" name="ctry" type="text" placeholder="Pays" class="form-control input-md" required="">

            </div>
        </div>


        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">S'inscricre</button>
            </div>
        </div>

    </fieldset>
</form>
