<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>{{hideFields ? 'Modifier le profil' : 'Inscription'}}</legend>

        <!-- LastName input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastName">Nom</label>
            <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" placeholder="Nom" class="form-control input-md" ng-model="user.lastName" required>
            </div>
        </div>

        <!-- FirstName input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="firstName">Prenom</label>
            <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="Prénom" class="form-control input-md" ng-model="user.firstName" required>
            </div>
        </div>

        <!-- Mail input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="mail">Email</label>
            <div class="col-md-4">
                <input id="mail" name="mail" type="mail" placeholder="nom@example.com" class="form-control input-md" ng-model="user.mail" required>
            </div>
        </div>

        <!-- Mail confirmation input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="mailConfirm">Confirmation email</label>
            <div class="col-md-4">
                <input id="mailConfirm" name="mailConfirm" type="text" placeholder="confirmation" class="form-control input-md" ng-model="mailConfirmation" required>
            </div>
        </div>

        <!-- Password input -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Mot de passe</label>
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" ng-model="user.password" ng-required="!hideFields">
            </div>
        </div>

        <!-- Password confirmation input -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordConfirmation">Confirmation mot de passe</label>
            <div class="col-md-4">
                <input id="passwordConfirmation" name="passwordConfirmation" type="password" placeholder="confirmation" ng-model="passwordConfirmation" class="form-control input-md" ng-required="!hideFields">
            </div>
        </div>

        <!-- Adress input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adress">Addresse</label>
            <div class="col-md-4">
                <textarea class="form-control input-md" name="adress" id="adress" ng-model="user.adress"></textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ville</label>  
            <div class="col-md-4">
                <input id="city" name="city" type="text" placeholder="" class="form-control input-md" ng-model="user.town" required>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="zip">Code Postal</label>  
            <div class="col-md-4">
                <input id="zip" name="zip" type="text" placeholder="Code Postal" class="form-control input-md" ng-model="user.zip" required>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary" ng-click="register()">{{hideFields ? 'Editer' : 'S\'inscrire'}}</button>
            </div>
        </div>

    </fieldset>
</form>
