doctype html
html
  head
    meta(charset='UTF-8')
    title EasyJob
    // bower:css
    link(rel='stylesheet', href='/node_module/bootstrap/dist/css/bootstrap.css')
    // endbower
    // custom stylesheet
    link(rel='stylesheet', href='/public/stylesheets/main.css')
  body(ng-app='EasyJob', ng-controller='indexCtrl')
    #app-container(ng-class="{container: true, 'login-view-app-container': currentView === 'login'}", ui-view='', ng-cloak='')
    nav#footer
      ul
        li
          a(href='') Contact
        li
          a(href='') A propos
    // bower:js
    <script src="/node_modules/angular/angular.js"></script>
    <script src="app2.js"></script>
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
    script(src='/node_modules/angular-ui-router/release/angular-ui-router.js')
    // endbower
    // app
    script(src='/app/services/app.js')
    // services
    script(src='/app/services/authentification.js')
    script(src='/app/services/users.js')
    // controllers
    script(src='/app/controllers/index.js')
    script(src='/app/controllers/login.js')
    script(src='/app/controllers/particular.js')
    script(src='/app/controllers/particularprofile.js')
    script(src='/app/controllers/particularapplications.js')
    script(src='/app/controllers/particularsearch.js')
    // filters
    script(src='/app/filters/dateFormat.js')
