nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='particular.profile', ng-click='goToOwnProfile()') EasyJob
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class="{active: selectedView === 'profile'}")
          a(ui-sref='particular.profile', ng-click='goToOwnProfile()')
            i.glyphicon.glyphicon-user
            |  Mon profile
        li(ng-class="{active: selectedView === 'applications'}")
          a(ui-sref='particular.applications', ng-click="setView('applications')")
            i.glyphicon.glyphicon-stats
            |  Suivi des candidatures
        li(ng-class="{active: selectedView === 'search'}")
          a(ui-sref='particular.search', ng-click="setView('search')")
            i.glyphicon.glyphicon-search
            |  Recherche
        li
          a(ui-sref='login')
            i.glyphicon.glyphicon-log-out
            |  Se déconnecter
#particularView(ui-view='')
