.container.profileWrapper
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          .row
            .col-md-12.lead
              | Etat civil
              hr
          .row
            .col-md-4.text-center
              img.img-circle.avatar.avatar-original.profilePic(style='-webkit-user-select:none; display:block; margin:auto;', ng-src='images/user_pictures/{{user.imgSrc}}', alt='Loading...', ng-hide='!user.imgSrc')
            .col-md-8
              .row
                .col-md-12
                  h1.only-bottom-margin {{user.firstName}} {{user.lastName}}
              .row
                .col-md-6
                  span.text-muted Email:
                  |  {{user.mail}}
                  br
                  span.text-muted Date de naissance:
                  |  {{user.birthDate | dateFormat}}
                  br
                  span.text-muted Genre:
                  |  {{user.gender}}
                  br
                  br
                  small.text-muted Inscription: {{user.signInDate | dateFormat}}
                .col-md-6
                  .activity-mini
                    i.glyphicon.glyphicon-thumbs-up.text-muted
                    |  500
                  .activity-mini
                    i.glyphicon.glyphicon-star.text-muted
                    |  {{user.score}}%
          .row
            .col-md-12
              button.btn.btn-default.pull-right(ng-click='toggleCV()')
                | {{showCV ? 'Cacher' : 'Montrer'}} le CV 
                i(ng-class="{'glyphicon': true, 'glyphicon-menu-down': showCV, 'glyphicon-menu-right': !showCV}")
          .row(ng-show='showCV')
            .col-md-12.lead
              hr
              | Curriculum Vitae
              hr
            .cvContent
              pre.
                \n
          .row
            .col-md-12
              // TODO: change ng-click
              hr
              button.btn.btn-default.pull-right(ng-click='goToProfile(2)') Autre profile
