/* MAIN STYLE */
/*body,*/
/*#app-container {*/
    /*height: 100vh;*/
/*}*/

body {
    position: relative;
    min-height: 100vh;
}

.height-100 {
    height: 100%;
}

.login-view-app-container{
    height: 100vh;
}

#app-container
{
    padding-bottom: 60px;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
}

/* LOGIN VIEW */
#login-container {
    min-height: 100%;
}
    #login-container .center {
        margin-left: auto;
        margin-right: auto;
    }




@font-face {
    font-family: 'trackregular';
    src: url('../styles/FontFace/track-webfont.eot');
    src: url('../styles/FontFace/track-webfont.eot?#iefix') format('embedded-opentype'),
    url('../styles/FontFace/track-webfont.woff2') format('woff2'),
    url('../styles/FontFace/track-webfont.woff') format('woff'),
    url('../styles/FontFace/track-webfont.ttf') format('truetype'),
    url('../styles/FontFace/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*#milieu #bloc{*/
    /*height: 500px;*/
    /*margin-top: 48vh;*/
    /*transform: translateY(-50%);*/
/*}*/

#milieu {
    height: 100%
}

#milieu #logo {
    margin-top: 200px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: "trackregular"
}

#milieu .icone_entreprise {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#milieu .formContainer {
    padding: 20px;
    height: auto;
    width: 350px;
    background-color: #E3EEEF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 1px #242424;
    -webkit-box-shadow: 5px 5px 5px 1px #242424;
    -moz-box-shadow: 5px 5px 5px 1px #242424;
    -o-box-shadow: 5px 5px 5px 1px #242424;
}

#milieu .icone_cv {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}

#milieu .text {
    font-size: 30px;
    text-align: center;
    margin-bottom:  25px;
}

#milieu .email {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 250px;

}

#milieu .mdp {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 250px;
}

#milieu .btn {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #6666ff;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    min-width: 100%;
    background: #222;
    border: solid 1px #080808;
}

#footer li {
    margin-top: 20px;
    display: inline-block;
    font-size: 15px;
    color: white;
    margin-right: 10px;
}

/* PARTICULAR MAIN */
#particularView {
    margin-top: 51px;
}

/* PARTICULAR PROFILE */
.profilePic {
    max-height: 180px;
}

.profileWrapper {
    padding-top: 10px;
}

.userCivilWrapper {
    display: inline-block;
}

/* PARTICULAR SEARCH */

.form-group {
    padding-top: 50px;
    margin-bottom: 0px;
}
/* PARTICULAR APPLICATIONS */

.container {
    padding-top: 50px;
}