#app-container 
{
    width: 100%;
    padding:0;
    margin:0;
}

/* ------------------- Frontpage ------------------- */

#corps 
{
    position: relative;
    height: 500px;
    background: grey;
}


/* ------------------- Frontpage header ------------------- */

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus 
{
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:visited {
    color: white;
}

.navbar 
{
    width: 100%;
    background: transparent;
    border: none ;
    font-weight: bold;
}

.navbar-nav > li > .dropdown-menu 
{
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ul .dropdown-menu a
{
    height: 100%;
    font-weight: bold;
    text-align:left;
    padding:0;
    padding-left: 7px;
}

ul .dropdown-menu a:hover
{
    background-color: white;
    text-decoration: underline;
}

.dropdown-menu .divider {
    margin: 5px 0;
    background-color: black;
}

.navbar-right 
{
    margin-right: 30px;
}

.nav > li {
    margin-right: 10px;
}

/* ------------------- Recherche Frontpage ------------------- */

#recherche 
{    
    display: flex; 
    vertical-align: middle;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    height: 100px;
    position:absolute;
    bottom:0;
}

form {
    height: 40px;
    margin: auto;
}

.form-inline .form-control {
    width: 300px;
    height: 40px;
    font-style: italic;
    margin-right: 10px;
    border-radius: 0;
    border: 0px;
}

.form-inline #type li .dropdown{
    margin: 0;
}

.btn {

    height: 40px;
    font-weight: bold;
    background-color: #1E80CC;
    border: 0;
    color: white;
}


.btn:hover
{
    background-color: #87CEFA;
    color: white;
}

div #type 
{
    height: 40px;
    width: 300px;
    background-color: white;
    margin-right: 10px;
}

div #type .dropdown 
{
    height: 40px;
    padding-left: 12px;
    text-decoration: none;
    list-style-type:none;
}

div #type .dropdown .dropdown-toggle
{
    height: 40px;
    display: table-cell; 
    vertical-align: middle;
}

div #type .dropdown .dropdown-toggle .caret 
{
    margin-left: 10px;    
}

div #type .dropdown .dropdown-menu
{
    margin: 0;
    margin-top:-1px;
    width: 300px;
}

input[type="checkbox"] {
    margin-left:10px;
    
}

input[type="checkbox"] + label {
   font-weight: normal;
}

/* ------------------- Slogan Frontpage ------------------- */

#slogan 
{
    margin-top: 6%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

#corps #slogan .btn
{
    margin-top: 3%;
    font-size: 30px;
    background-color: #1E80CC;
    height: 50px;
    width: 300px;
}

#corps #slogan .btn:hover
{
    background-color: #87CEFA;
    color: white;
}

/* ------------------- FOOTER------------------- */

#footer 
{
    background-color: #1E80CC;
    height:50px;
    width: 100%;
    position:absolute;
    bottom:0;
}

#footer .breadcrumb 
{
    background-color: #1E80CC;
    padding: 0;
    margin-top: 10px;
    text-align: center;
    
}

#footer .breadcrumb li a 
{
    color: white;
}

/* ------------------- PARTICULAR MAIN ------------------- */

#particularView 
{
    margin-top: 50px;
}
 

/* ------------------- HEADER PARTICULAR ------------------- */

#headerParticular 
{
    background-color: #1E80CC;
    border: 0;
    margin: 0;
    padding: 0;
}

#headerParticular .nav li .logo{
    margin-right: 40px;
}

#headerParticular  .nav li {
    margin-right: 0;
}

#headerParticular li a i
{
    margin-right: 5px;
}

#headerParticular li a:hover
{
    text-decoration: none;
    background-color: #87CEFA;
}

#headerParticular li a:visited
{
    background-color: #87CEFA;
    color: white
}

#headerParticular .navbar-right
{
    margin-right: 0;
}

/* ------------------- PARTICULAR PROFILE ------------------- */

.profilePic 
{
    max-height: 180px;
}

.profileWrapper 
{
    
}

.userCivilWrapper 
{
    
}

/* ------------------- PARTICULAR SEARCH ------------------- */

#particularSearch
{
    display: flex; 
    vertical-align: middle;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    height: 100px;
    margin-top: -50px;
}

/* ------------------- PARTICULAR APPLICATIONS ------------------- */

.container {
    
}





